version: '3.8'
services:
  app:
    image: bakr458/jira-clone-back:latest
    ports:
      - "4000:4000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/jira-clone
      - PORT=4000
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: always

volumes:
  mongo-data:
